<header class="text-black py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a href="#" class="fs-4 text-black text-decoration-none">Dashboard</a>
      <div class="d-flex gap-3">
        <a class="text-black text-decoration-none" routerLink="/roles" routerLinkActive="active">Roles</a>
        <a class="text-black text-decoration-none" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="text-black text-decoration-none" routerLink="/audit" routerLinkActive="active">Audit</a>
        <a class="text-black text-decoration-none" routerLink="/access-control" routerLinkActive="active">Access
          Control</a>
      </div>

    </div>
  </div>
</header>

<!-- Main content area -->
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
